# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.mypy_cache
.ruff_cache

# --- Virtual Environments ---
venv/
env/
.venv/
.env/

# --- Environment Variables ---
.env
.env.local
.env.*
!.env.example


staticfiles/

# --- Media ---
media/
media/*
!media/.gitkeep

# --- Celery ---
celerybeat-schedule
celerybeat.pid

# --- Redis ---
dump.rdb

# --- IDE & Editors ---
.idea/
.vscode/
*.swp
.DS_Store

# --- Coverage / Testing ---
.coverage
htmlcov/

# --- Docker ---
postgres_data/